<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/menu"></ion-back-button>
        </ion-buttons>
    <ion-title>Tentang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="contentnih">
  <h2>Sistem Informasi Tanaman Obat</h2>  
  <h3>Version 1.0.0</h3>
  <ion-img class="imghome" src="../assets/img/img-logo.png"></ion-img>
  <h5>© Mandarwarman</h5>
  <p>Dibuat Sebagai Salah Satu Syarat Untuk Memperoleh Gelar Sarjana Komputer</p>   
  <h5>Sumber Data</h5>
</div>

<ion-list>
      <ion-item-group>
      <ion-item-divider color="primary">
        <ion-label >Buku</ion-label>
      </ion-item-divider>

      <ion-item lines="none" >
        <ion-label text-wrap>
          <h2>Pengobatan Dengan Herbal & Pijat Refleksi, Cara Mudah Hidup Sehat Alami</h2>
          <p>Ny.Sri Hartatik</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Tanaman Obat Nusantara
          <p>Herlina Widyaningrum & Tim Solusi Alternatif</p>
        </ion-label>

      </ion-item>

      <ion-item-divider color="primary">
          <ion-label >Digital Book / E-Book</ion-label>
        </ion-item-divider>
  
        <ion-item lines="none" >
          <ion-label text-wrap>
            <h2>Tanaman Herbal Indonesia</h2>
            <p>Aserani Kurdi, S.Pd</p>
          </ion-label>
        </ion-item>

      <ion-item-divider color="primary">
        <ion-label >WEB</ion-label>
      </ion-item-divider>

      <ion-item lines="none" href="https://www.alodokter.com/">
        <ion-label color="secondary">Alodokter</ion-label>
      </ion-item>

      <ion-item lines="none" href="https://hellosehat.com/">
          <ion-label color="secondary">Hellosehat</ion-label>
        </ion-item>

      
    </ion-item-group>
  </ion-list>
  
</ion-content>
