.ion-text-justify {
    text-align: justify
}

.title{
    text-align: center;    
}

h4 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color:#008040;
    height: 20px;
    color: white;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    height: 5px;
    color: #008040;
}

.ilmiah{
    text-align: center;
    color:#008040;
    font-size: small;
}

p {
    font-size: 14px;
}

.tombol {
    text-align: center;
}