<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/menu"></ion-back-button>
          </ion-buttons>
      <ion-title>Peringatan</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding class="konten">

  <p>Segala sesuatu yang ada pada aplikasi ini, terdapat beberapa informasi mengenai tanaman obat dan pengobatan. Dalam hal pengobatan aplikasi memberikan beberapa rekomendasi dalam pengobatan menggunakan tanaman obat tradisional.</p>
  <p>Jadi sebelum anda melakukan sesuatu, ikuti beberapa peraturan dibawah ini dalam melakukan pengolahan tanaman obat.</p>

  <p>1. Gunakanlah satu jenis tanaman dalam sekali pengolahan. Dalam pengobatan penyakit, gunakan satu jenis tanaman obat yang tersedia disekitar anda, karena aplikasi memberikan beberapa rekomendasi dalam pengobatan</p>
  <p>2. Gunakan besi tahan karat atau kendi (alat masak tanah liat) dalam perebusan tanaman obat, jangan menggunakan alat masak berbahan aluminium karena aluminium bereaksi secara kimia pada tanaman obat.</p>
  <p>3. Jangan menutup alat masak saat perebusan dikarenakan pelepasan toxin saat merebus</p>
  <p>4. Dalam mengkonsumsi tanaman obat sebaiknya untuk satu kali penggunaan. Karena semua tanaman obat hanya efektif selama 8 - 12 jam setelah perebusan.</p>
  <p>5. Mengkonsumsi tanaman obat dianjurkan selagi hangat jika pengolahan melalui perebusan</p>
  <p>6. Cuci dengan sempurna semua daun, batang, bunga dan akar dengan air bersih sebelum digunakan.</p>
  <p>7. Jangan menggunakan 2 atau lebih tanaman obat secara bersamaan, kecuali ada instruksi untuk menggunakannya</p>
  <p>8. Ikuti instruksi dengan baik dan benar, khususnya takaran dan dosisnya.</p>
  <p>9. Beberapa orang alergi terhadap beberapa daun dan tanaman obat. Jika gejala alergi terlihat sesaat dan sebelum pengobatan, STOP pengobatan tanaman obat secepatnya dan cuci dengan air bersih (obat luar). Gejala alergi adalah peningkatan gatal dan bengkak, mual dan muntah, pusing dan sakit kepala. Konsultasi kepada dokter secepatnya jika mengalami gejala tersebut.</p>
  <p>10. Orang yang telah diketahui alergi terhadap tanaman obat tidak dianjurkan menggunakan pengobatan herbal. Dianjurkan untuk menggunakan pengobatan lainnya.</p>
</ion-content>
