<ion-header>
  <ion-toolbar color="primary"> 
  <ion-title text-center> INFORMASI TANAMAN OBAT </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content padding> <!---->
  <ion-img class="imghome" src="../assets/img/img-logo.png"></ion-img>     
    <ion-grid>
    <ion-row fixed>
      <ion-col size="6">
      <div>
      <ion-button fill="solid" expand="full" size="large" class="sqare_button" routerLink="/menu/list-tano">
      <div class="vertical">
      <ion-icon size="large" slot="start" name="leaf"></ion-icon>
      <span class="combie">Tanaman Obat</span>
      </div>
      </ion-button> 
      </div>
      </ion-col>
      <ion-col size="6">
      <div>
      <ion-button fill="solid" expand="full" size="large" class="sqare_button" routerLink="/menu/list-pengo">
      <div class="vertical">
      <ion-icon size="large" slot="start" name="medkit"></ion-icon>
      <span class="combie">Pengobatan</span>
      </div>
      </ion-button> 
      </div>
      </ion-col >
      <ion-col size="6">
      <div>
      <ion-button fill="solid" expand="full" size="large" class="sqare_button" routerLink="/attention">
      <div class="vertical">
      <ion-icon size="large" slot="start" name="warning"></ion-icon>
      <span class="combie">Peringatan</span>
      </div>
      </ion-button> 
      </div>
      </ion-col>
      <ion-col size="6">
      <div>
      <ion-button fill="solid" expand="full" size="large" class="sqare_button" routerLink="/tentang">
      <div class="vertical">
      <ion-icon size="large" slot="start" name="alert"></ion-icon>
      <span class="combie">Tentang</span>
      </div>
      </ion-button> 
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>