.ion-text-justify {
    text-align: justify;
}

.title{ 
    white-space: inherit;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    height: 5px;
    color: #008040;
}

p {
    font-size: 14px;
}

